* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Impact, sans-serif;
}
.container {
  width: 25.70vh;
  height: 25.70;
  flex-wrap: wrap;
}

html {
  font-size: 2.05vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.child {
  width: 8.56vh;
  height: 8.56vh;
}

.one {
  background-color: #a99dc0;
}
.two {
  background-color: #8a545c;
}
.three {
  background-color: #a593ae;
}
.four {
  background-color: #ad94a6;
}
.five {
  background-color: #795d61;
}
.six {
  background-color: #353331;
}
.seven {
  background-color: #212121;
}
.eight {
  background-color: #473a31;
}
.nine {
  background-color: #232419;
}

.container {
    
    
}

.background {background-color: black;
width: 38.56vh;
height: 57.84vh;
justify-content: end;
align-items: center;
flex-direction: column;}
h1 {color: white;
letter-spacing: 0.026vh;
margin-right: 16.71vh;}
.teacher {text-transform: uppercase;
font-size: 1.928vh;
width: 38.56vh;
margin-left: 16.71vh ;
text-align: center;}
